<li class="sidebar-item">
	<a data-bs-target="#customers" data-bs-toggle="collapse" class="sidebar-link collapsed">
		<i class="align-middle me-2 fas fa-fw fa-chart-pie"></i><span class="align-middle">Müştərilər</span>
		
	</a>
	<ul id="customers" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
		<li class="sidebar-item">
		<li class="sidebar-item"><a class='sidebar-link' asp-controller="Customer" asp-action="AddCustomer">Yeni müştəri</a></li>
		<li class="sidebar-item"><a class='sidebar-link' asp-controller="Customer" asp-action="AllCustomers">Hamısı</a></li>
		<li class="sidebar-item"><a class='sidebar-link' asp-controller="Customer" asp-action="FemaleList">Qadınlar</a></li>

		<li class="sidebar-item">
			<a class='sidebar-link' asp-controller="Customer" asp-action="MaleList">Kişilər</a>
			</li>
		@if (User.IsInRole("Admin"))
		{
			<li class="sidebar-item"><a class='sidebar-link' asp-controller="Customer" asp-action="DeactiveCustomerList">Deaktiv müştərilər</a></li>
		}
		

	</ul>
</li>
