<li class="sidebar-item">
	<a data-bs-target="#accountant" data-bs-toggle="collapse" class="sidebar-link collapsed">
		<i class="align-middle me-2 fas fa-fw fa-table"></i> <span class="align-middle">Hesabat</span>
	</a>
	<ul id="accountant" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
		<li class="sidebar-item"><a class='sidebar-link'asp-area="TestSalon" asp-controller="Kassa" asp-action="KassaPage">Ümumi</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-responsive.html'>Lazer Epilyasiyası</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-buttons.html'>Kosmetologiya</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-column-search.html'>Bədən Şəkilləndirmə</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-fixed-header.html'>Saç kəsimi</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-multi.html'>Pirsinq</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-ajax.html'>Lipuçka</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-multi.html'>Makyaj</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-ajax.html'>Cistka</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-multi.html'>Satış</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-ajax.html'>Xərclər</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='tables-datatables-multi.html'>Kassa Əməliyyatları</a></li>
		
	</ul>
</li>