<div class="sidebar-user">
	<img src="~/adminTemplate/img/avatars/avatar.jpg" class="img-fluid rounded-circle mb-2" alt="Linda Miller" />
	<div class="fw-bold">Odissey</div>
	<small>SuperAdmin</small>
</div>