<li class="sidebar-item">
	<a data-bs-target="#charts" data-bs-toggle="collapse" class="sidebar-link collapsed">
		<i class="align-middle me-2 fas fa-fw fa-chart-pie"></i><span class="align-middle">Kosmetologiya</span>
		
	</a>
	<ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
		<li class="sidebar-item">
		<li class="sidebar-item"><a class='sidebar-link' href='charts-apexcharts.html'>Yeni seans</a></li>
			<a class='sidebar-link' href='charts-chartjs.html'>
				Rezervasiyalar
				<span class="sidebar-badge badge rounded-pill bg-primary">10</span>
			</a>

		</li>
		<li class="sidebar-item"><a class='sidebar-link' href='charts-apexcharts.html'>İmtina edilənlər</a></li>
		@if (User.IsInRole("Admin"))
		{
			<li class="sidebar-item"><a class='sidebar-link' href='charts-apexcharts.html'>Geri ödəniş</a></li>
		}
		

	</ul>
</li>
