
<li class="sidebar-item active">
	<a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
		<i class="align-middle me-2 fas fa-fw fa-book"></i> <span class="align-middle">Sistem haqqında</span>
	</a>
	<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
		<li class="sidebar-item active"><a class='sidebar-link' asp-controller="Contact" asp-action="packets">Paketlər</a></li>
		<li class="sidebar-item"><a class='sidebar-link' asp-controller="Contact" asp-action="GuideBook">Kitabça</a></li>
		<li class="sidebar-item active"><a class='sidebar-link' asp-controller="Contact" asp-action="VideoList">Video Təlimatlar</a></li>
		<li class="sidebar-item active"><a class='sidebar-link' asp-controller="Contact" asp-action="Creators">Sistem qurucuları</a></li>
		<li class="sidebar-item active"><a class='sidebar-link' asp-controller="Contact" asp-action="OfferAndComplaint">Təklif və şikayətləriniz</a></li>
	</ul>
</li>