<li class="sidebar-item">
	<a data-bs-target="#documentation" data-bs-toggle="collapse" class="sidebar-link collapsed">
		<i class="align-middle me-2 fas fa-fw fa-book"></i> <span class="align-middle">Kassa əməliyyatları</span>
	</a>
	<ul id="documentation" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
		<li class="sidebar-item"><a class='sidebar-link' href='docs-getting-started.html'>Mədaxil</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='docs-plugins.html'>Məxaric</a></li>
	
	</ul>
</li>