<li class="sidebar-item">
	<a data-bs-target="#shoping" data-bs-toggle="collapse" class="sidebar-link collapsed">
		<i class="align-middle me-2 fas fa-fw fa-flask"></i> <span class="align-middle">Satış</span>
	</a>
	<ul id="shoping" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
		<li class="sidebar-item"><a class='sidebar-link' href='ui-alerts.html'>Yeni satış</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='ui-buttons.html'>Stok</a></li>
		<li class="sidebar-item"><a class='sidebar-link' href='ui-cards.html'>Tükənmiş məhsullar</a></li>
     @if (User.IsInRole("Admin"))
		{
			<li class="sidebar-item"><a class='sidebar-link' href='ui-cards.html'>Məshulda düzəliş</a></li>
			<li class="sidebar-item"><a class='sidebar-link' href='ui-cards.html'>Satışda düzəliş</a></li>
		}
	</ul>
</li>